
fastapi
uvicorn[standard]


sqlalchemy
alembic
psycopg[binary]


pydantic
pydantic-settings
python-dotenv


PyJWT
pwdlib[argon2]
email-validator

python-multipart
aiofiles
Pillow


httpx


slowapi


pytest
pytest-asyncio
httpx